body, html {
    background-color: #151515;
}

.background-wrapper {
    background-image: url('/src/img/imagem_2025-04-07_161402231.png');
    background-repeat: no-repeat;
    width: 100%;
    background-position: top center;
    height: 4356px;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
}

.titulo h1 {
    color: #EF7113;
    font-size: 50px;
    margin: 0;
    line-height: 1.1;
    font-weight: 700;
    margin-top: 150px;
    margin-left: 10rem;
}

.section {
    display: flex;
    height: 150vh;
    align-items: center;
    justify-content: center;
}

.info-card {
    background-color:#EF7113;
    width: 70%;
    height: 27rem;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    color: black;
    padding: 3rem;
}

.info-card > :first-child {
    max-width: 100%;
}

.info-card h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.info-card p {
    font-size: 1.2rem;
    line-height: 1.8;
}

.div-img {
    width: 22rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-info-card {
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    height: auto;
}

.meutrabalho {
    margin-top: -20rem;
}

.titulo-transformar {
    margin-bottom: 10rem;
    text-align: center;
}

.trabalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
    flex-wrap: wrap;
    font-size: 21px;
}

.div-img-trabalho .texto-trabalho {
    border: 1px solid red;
}

.div-img-trabalho {
    max-width: 00px;
    display: flex;
    justify-content: center;
}

.div-img-trabalho img {
    max-width: 440px;
    height: auto;
}

.texto-trabalho {
    max-width: 700px;
    font-size: 30px;
}


.header {
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    position: relative;
}

.nav-links {
    display: flex;
    gap: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.logo {
    position: relative;
    margin-left: auto;
}

.logo img{
    width: 40px;
    height: auto;
}

.carousel {
    max-height: 30rem;
    max-width: 30rem;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
  }
  

a {
    text-decoration: none !important;
    color: inherit !important;
    font-size: 16px;
}


footer {
    margin-top: auto;
    margin-left: 10rem;
    padding: 100px 20px;
    color: #EF7113;
}

.dados {
    color: white;
}

.projetos {
    margin-top: 20rem;
    text-align: center;
    gap: 2rem;
}

.projetos .carousel {
    margin: 10rem auto 0;
}

.projetos .carousel-item img {
    max-height: 440px;
    width: auto;
    margin: 0;
    object-fit: cover;
}