* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@media (max-width: 768px) {
    .titulo h1 {
        font-size: 32px;
    }

    .info-card {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
    }

    .info-card h1 {
        font-size: 1.8rem;
    }

    .info-card p {
        font-size: 1rem;
    }

}

body, html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    height: 4356px;
    display: flex;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

.background-wrapper {
    background-image: url('/src/img/imagem_2025-04-07_161402231.png');
    background-repeat: no-repeat;
    width: 100%;
    background-position: top center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
}


.titulo h1 {
    color: #EF7113;
    font-size: 50px;
    margin: 0;
    line-height: 1.1;
    font-weight: 700;
    margin-top: 150px;
    margin-left: 1%;
}

.info-card {
    background-color:#EF7113;
    width: 100%;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    color: black;
    z-index: 2;
}

.info-card > div {
    flex: 1 1 400px;
}

.info-card h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.info-card p {
    font-size: 1.1rem;
    line-height: 1.5;
}

.container {
    flex: 1;
    width: 1440px;
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.header {
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
    text-decoration: none;
    color: white;
    padding: 50px 130px 0 250px;
    border-radius: 5px;
    transition: 0.3s;
    position: relative;
}

.nav-links {
    display: flex;
    gap: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.logo {
    position: relative;
    margin-left: auto;
}

.logo p{
    width: 50px;
    height: auto;
}

.section {
    position: relative;
    height: 700px;
    align-items: center;
    justify-content: center;
    padding: 150px 5% 0 5%;
    padding-top: 300px;
    width: 100%;
}

.section + div {
    margin-top: 10rem;
}

.carousel {
    max-height: 30rem;
    max-width: 30rem;
}

a {
    text-decoration: none !important;
    color: inherit !important;
    font-size: 16px;
}


footer {
    margin-top: auto;
    margin-bottom: 150px;
    padding: 40px 20px;
    color: #EF7113;
}

.meutrabalho {
    margin-top: 200px;
}

.projetos {
    margin-top: 1300px;
}

.section-spacing {
    margin-top: 200px;
}